# AI-Powered ETL Pipeline with API Deployment

## Transformation of data

In [12]:
import sys 
import os 
import pandas as pd 
import dask.dataframe as dd

In [13]:
# Adding modules 
import os
import sys
project_paths = os.path.abspath("D:\databricks project\database project 2")

if project_paths not in sys.path:
    sys.path.append(project_paths)

import fetch_api_data
import connection
import Create_table
import insert_data
import fetch_data

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\DHANYATHA\AppData\Local\Temp\ipykernel_19776\2305232701.py:4: SyntaxWarning: invalid escape sequence '\d'
  project_paths = os.path.abspath("D:\databricks project\database project 2")

In [14]:
# fetch data 
from connection import engine

def fetch_data():
    with engine.connect() as conn:
        df = pd.read_sql("SELECT * FROM crypto_market_data;", conn)
    return df

df = fetch_data()
df

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://coin-images.coingecko.com/coins/images...,83682.000000,1660397442685,1,1660397442685,5.344665e+10,87791.000000,...,1.984587e+07,2.100000e+07,108786.000000,-23.29012,2025-01-20T09:11:54.494Z,67.810000,1.229652e+05,2013-07-06T00:00:00.000Z,None,2025-04-03T10:17:49.778Z
1,ethereum,eth,Ethereum,https://coin-images.coingecko.com/coins/images...,1814.250000,218869167606,2,218869167606,2.515038e+10,1934.100000,...,1.206645e+08,NaN,4878.260000,-62.86868,2021-11-10T14:24:19.604Z,0.432979,4.182489e+05,2015-10-20T00:00:00.000Z,"{'times': 27.99463282795049, 'currency': 'btc'...",2025-04-03T10:17:49.545Z
2,tether,usdt,Tether,https://coin-images.coingecko.com/coins/images...,0.999903,144020344078,3,144020344078,5.190061e+10,1.000000,...,1.440343e+11,NaN,1.320000,-24.42544,2018-07-24T00:00:00.000Z,0.572521,7.465271e+01,2015-03-02T00:00:00.000Z,None,2025-04-03T10:17:50.100Z
3,ripple,xrp,XRP,https://coin-images.coingecko.com/coins/images...,2.040000,118897590960,4,204243419851,6.174900e+09,2.190000,...,9.998630e+10,1.000000e+11,3.400000,-39.90877,2018-01-07T00:00:00.000Z,0.002686,7.592433e+04,2014-05-22T00:00:00.000Z,None,2025-04-03T10:17:46.001Z
4,binancecoin,bnb,BNB,https://coin-images.coingecko.com/coins/images...,598.270000,87284838452,5,87284838452,1.865868e+09,611.360000,...,1.458876e+08,2.000000e+08,788.840000,-24.12973,2024-12-04T10:35:25.220Z,0.039818,1.502995e+06,2017-10-19T00:00:00.000Z,None,2025-04-03T10:17:49.805Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,sei-network,sei,Sei,https://coin-images.coingecko.com/coins/images...,0.165324,806613164,96,1652096487,1.177469e+08,0.177153,...,1.000000e+10,NaN,1.140000,-85.54278,2024-03-16T02:30:23.904Z,0.095364,7.278215e+01,2023-10-19T08:05:30.655Z,None,2025-04-03T10:17:45.772Z
96,flare-networks,flr,Flare,https://coin-images.coingecko.com/coins/images...,0.013015,796769612,97,1346512587,1.236247e+07,0.013696,...,1.032669e+11,NaN,0.150073,-91.37335,2023-01-10T03:14:05.921Z,0.008274,5.646826e+01,2023-10-19T03:35:41.663Z,None,2025-04-03T10:17:47.796Z
97,the-graph,grt,The Graph,https://coin-images.coingecko.com/coins/images...,0.082433,788019774,98,890310799,5.302207e+07,0.089755,...,1.078800e+10,1.078800e+10,2.840000,-97.09476,2021-02-12T07:28:45.775Z,0.052051,5.859942e+01,2022-11-22T10:05:03.503Z,None,2025-04-03T10:17:48.708Z
98,theta-token,theta,Theta Network,https://coin-images.coingecko.com/coins/images...,0.784338,784488478,99,784488478,3.048006e+07,0.849618,...,1.000000e+09,1.000000e+09,15.720000,-95.02388,2021-04-16T13:15:11.190Z,0.040400,1.836228e+03,2020-03-13T02:24:16.483Z,"{'times': 4.22891864540892, 'currency': 'usd',...",2025-04-03T10:17:47.997Z
99,tether-gold,xaut,Tether Gold,https://coin-images.coingecko.com/coins/images...,3153.370000,777552445,100,777552445,4.505952e+07,3179.010000,...,2.465243e+05,NaN,3190.620000,-0.98581,2025-04-01T00:42:40.216Z,1447.840000,1.181984e+02,2020-03-19T13:45:41.821Z,None,2025-04-03T10:17:48.114Z

In [19]:
# Gather the Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                100 non-null    object
 1   symbol                            100 non-null    object
 2   name                              100 non-null    object
 3   image                             100 non-null    object
 4   current_price                     100 non-null    float64
 5   market_cap                        100 non-null    int64
 6   market_cap_rank                   100 non-null    int64
 7   fully_diluted_valuation           100 non-null    int64
 8   total_volume                      100 non-null    float64
 9   high_24h                          100 non-null    float64
 10  low_24h                           100 non-null    float64
 11  price_change_24h                  100 non-null    float64
 12  price_change_percentage_24h       100 non-null    float64
 13  market_cap_change_24h             100 non-null    float64
 14  market_cap_change_percentage_24h  100 non-null    float64
 15  circulating_supply                100 non-null    float64
 16  total_supply                      100 non-null    float64
 17  max_supply                        47 non-null     float64
 18  ath                               100 non-null    float64
 19  ath_change_percentage             100 non-null    float64
 20  ath_date                          100 non-null    object
 21  atl                               100 non-null    float64
 22  atl_change_percentage             100 non-null    float64
 23  atl_date                          100 non-null    object
 24  roi                               14 non-null     object
 25  last_updated                      100 non-null    object
dtypes: float64(15), int64(3), object(8)
memory usage: 20.4+ KB

In [20]:
# check for missing value
df.isnull().sum()

id                                   0
symbol                               0
name                                 0
image                                0
current_price                        0
market_cap                           0
market_cap_rank                      0
fully_diluted_valuation              0
total_volume                         0
high_24h                             0
low_24h                              0
price_change_24h                     0
price_change_percentage_24h          0
market_cap_change_24h                0
market_cap_change_percentage_24h     0
circulating_supply                   0
total_supply                         0
max_supply                          53
ath                                  0
ath_change_percentage                0
ath_date                             0
atl                                  0
atl_change_percentage                0
atl_date                             0
roi                                 86
last_updated                         0
dtype: int64

In [ ]:
def process_data():
    df = fetch_data()
    ddf = dd.from_pandas(df,npartitions=4)

    # Drop columns with too many missing values
    cols_to_drop = ["image", "roi"]
    ddf = ddf.drop(columns=cols_to_drop, errors="ignore")

    # Drop the columns
    col_to_drop = ["image","roi"]
    ddf = ddf.drop(columns=col_to_drop, errors="ignore")

    # Fill the missing Values
    ddf= ddf.fillna( {"max_supply": 0})

    # Convert columns to appropriate types
    ddf["market_cap_rank"] = ddf["market_cap_rank"].astype("int32")
    ddf["circulating_supply"] = ddf["circulating_supply"].astype("float32")

    # Convert datetime columns
    ddf["last_updated"] = dd.to_datetime(ddf["last_updated"])

    print("Data transformation completed!")

    return ddf

if __name__ == "__main__":
    transformed_data = process_data()
    print("✅ Transformed data preview:")
    print(transformed_data.head())

Data transformation completed!
✅ Transformed data preview:
            id symbol      name  current_price     market_cap  \
0      bitcoin    btc   Bitcoin   83682.000000  1660397442685
1     ethereum    eth  Ethereum    1814.250000   218869167606
2       tether   usdt    Tether       0.999903   144020344078
3       ripple    xrp       XRP       2.040000   118897590960
4  binancecoin    bnb       BNB     598.270000    87284838452

   market_cap_rank  fully_diluted_valuation  total_volume  high_24h  \
0                1            1660397442685  5.344665e+10  87791.00
1                2             218869167606  2.515038e+10   1934.10
2                3             144020344078  5.190061e+10      1.00
3                4             204243419851  6.174900e+09      2.19
4                5              87284838452  1.865868e+09    611.36

        low_24h  ...  circulating_supply  total_supply    max_supply  \
0  82277.000000  ...        1.984587e+07  1.984587e+07  2.100000e+07
1   1787.860000  ...        1.206644e+08  1.206645e+08  0.000000e+00
2      0.999644  ...        1.440343e+11  1.440343e+11  0.000000e+00
3      2.000000  ...        5.820570e+10  9.998630e+10  1.000000e+11
4    584.990000  ...        1.458876e+08  1.458876e+08  2.000000e+08

         ath  ath_change_percentage                  ath_date        atl  \
0  108786.00              -23.29012  2025-01-20T09:11:54.494Z  67.810000
1    4878.26              -62.86868  2021-11-10T14:24:19.604Z   0.432979
2       1.32              -24.42544  2018-07-24T00:00:00.000Z   0.572521
3       3.40              -39.90877  2018-01-07T00:00:00.000Z   0.002686
4     788.84              -24.12973  2024-12-04T10:35:25.220Z   0.039818

   atl_change_percentage                  atl_date  \
0           1.229652e+05  2013-07-06T00:00:00.000Z
1           4.182489e+05  2015-10-20T00:00:00.000Z
2           7.465271e+01  2015-03-02T00:00:00.000Z
3           7.592433e+04  2014-05-22T00:00:00.000Z
4           1.502995e+06  2017-10-19T00:00:00.000Z

                      last_updated
0 2025-04-03 10:17:49.778000+00:00
1 2025-04-03 10:17:49.545000+00:00
2 2025-04-03 10:17:50.100000+00:00
3 2025-04-03 10:17:46.001000+00:00
4 2025-04-03 10:17:49.805000+00:00

[5 rows x 24 columns]

In [29]:

transformed_data

Dask DataFrame Structure:
                   id  symbol    name current_price market_cap market_cap_rank fully_diluted_valuation total_volume high_24h  low_24h price_change_24h price_change_percentage_24h market_cap_change_24h market_cap_change_percentage_24h circulating_supply total_supply max_supply      ath ath_change_percentage ath_date      atl atl_change_percentage atl_date    last_updated
npartitions=4
0              string  string  string       float64    float64         float64                 float64      float64  float64  float64          float64                     float64               float64                          float64            float32      float64    float64  float64               float64   string  float64               float64   string  datetime64[ns]
25                ...     ...     ...           ...        ...             ...                     ...          ...      ...      ...              ...                         ...                   ...                              ...                ...          ...        ...      ...                   ...      ...      ...                   ...      ...             ...
50                ...     ...     ...           ...        ...             ...                     ...          ...      ...      ...              ...                         ...                   ...                              ...                ...          ...        ...      ...                   ...      ...      ...                   ...      ...             ...
75                ...     ...     ...           ...        ...             ...                     ...          ...      ...      ...              ...                         ...                   ...                              ...                ...          ...        ...      ...                   ...      ...      ...                   ...      ...             ...
99                ...     ...     ...           ...        ...             ...                     ...          ...      ...      ...              ...                         ...                   ...                              ...                ...          ...        ...      ...                   ...      ...      ...                   ...      ...             ...
Dask Name: assign, 13 expressions
Expr=Assign(frame=Assign(frame=Assign(frame=Fillna(frame=Drop(frame=Drop(frame=df, columns=['image', 'roi'], errors='ignore'), columns=['image', 'roi'], errors='ignore'), value={'max_supply': 0}))))